@charset "UTF-8";
/*Cores escolhidas para o site
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf'); format:('opentype');
    font-weight: normal;
}

:root{
    --cor00: #c5ebd6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Secular One', sans-serif;
    --fonte-android: 'Android', 'cursive';
}

* {
margin: 0px;
padding: 0px;
}



body {
background-color: var(--cor02)
}





header {
   background-image:linear-gradient(to bottom, var(--cor03),var(--cor05));
    color: #ffffff;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header > h1 {
    color: #ffffff;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.741);
}

header > p {
    color: #ffffff;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.741);
}

nav {
    background-color: #063d1e;  
    padding: 10px;
   
}
nav > a {
    color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

nav > a:hover {
    background-color: var(--cor03);
}

div.video {
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding-bottom: 58%;
    position: relative;
    
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 88%;
}

main {
    background-color: #ffffff;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    width: 100%;
}


main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    color: #1a5c37;
    font-family: var(--fonte-android);
    font-size: 1,8px;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to left, var(--cor01), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 4px;
}
  
main a:hover {
    text-decoration: underline;
    color: var(--cor04);
}

aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
}

aside h3 {
    background-color: var(--cor03);
    color: #ffffff;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 10px;
    font-family: var(--fonte-destaque);
}

aside > ul {
    list-style-type: '\2705';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: #063d1e;
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor01);
}

